<% if notice.present? || alert.present? %>
        <div class="fixed top-0 right-0 z-50">
          <% if notice.present? %>
            <div class="notice px-8 py-2 text-white bg-green-800 rounded-lg"><%= notice %></div>
          <% end %>
          <% if alert.present? %>
            <div class="alert px-8 py-2 text-white bg-red-800 rounded-lg mt-2"><%= alert %></div>
          <% end %>
        </div>
<% end %>